---
import { basics } from "@/data/cv.json"
import Arrow from '@/atoms/Arrow.astro'
import Linkedin from '@/atoms/Linkedin.astro'
import Github from '@/atoms/Github.astro'
import Wave from "@/atoms/Wave.astro"
import CV from "@/atoms/CV.astro"
import Cover from "@/atoms/Cover.astro"

const { name, labels, intro, linkedin, github, linkCV, linkCoverLetter } = basics
---
<section>
  <div class="container"></div>
  <h1 class="animated fadeInDown">{name}</h1>
  <img class="sticker" src="sticker.svg" alt="">
  <div class="labels-animation animated fadeIn">
    <ul>
      {
        labels.map((label) => (
          <li class="label">{label}</li>
        ))
      }
    </ul>
  </div>
  <p class="intro animated fadeInDown">
    {intro}
  </p>
  <div class="social-media">
    <div class="animated fadeInDownBig">
      <a target="_blank" href={linkedin} rel="noopener noreferrer">
        <Linkedin />
      </a>
    </div>
    <div class="animated fadeInDownBig">
      <a target="_blank" href={github} rel="noopener noreferrer">
        <Github />
      </a>
    </div>
    <div class="animated fadeInDownBig">
      <a target="_blank" href={linkCV} rel="noopener noreferrer">
        <CV />
      </a>
    </div>
    <div class="animated fadeInDownBig">
      <a target="_blank" href={linkCoverLetter} rel="noopener noreferrer">
        <Cover />
      </a>
    </div>
  </div>
  <div class="call-action__wrapper">
    <div class="call-action" id="arrow">
      <Arrow />
    </div>
  </div>
  <div class="wave">
    <Wave/>
  </div>
</section>
<script>
  const sectionNext = document.getElementById('about');
  document.getElementById('arrow')?.addEventListener('click', ()=> {
    document.getElementById('about')?.scrollIntoView({ behavior: 'smooth' });
  })
</script>
<style>
  section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('./../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
  }

  h1 {
    font-size: 3.4em;
    color: #FF9900;
  }

  .sticker {
    max-width: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
    animation: 4s ease-in-out 0s infinite normal none running animation-float;
  }

  @keyframes animation-float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }

  .label {
    color: #DB0A5B;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 2.8em;
  }

  .labels-animation {
    height: 55px;
    overflow: hidden;
  }

  .labels-animation ul {
    animation: label-animation 10s infinite;
  }

  .intro {
    max-width: 500px;
    padding: 0 20px;
    margin-top: 8px;
    font-size: 14px;
  }

  .social-media {
    display: flex;
    margin-top: 30px;
    color: #DB0A5B;
    z-index: 100;
  }

  .social-media > div {
    margin-right: 20px;
  }

  .social-media > div:last-child {
    margin-right: 0;
  }

  .call-action__wrapper {
    position: absolute;
    bottom: 50px;
  }

  .call-action {
    position: relative;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #DB0A5B;
    animation: pulse;
    transition: .3s;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .call-action::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
  }

  .wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  @media (min-width: 576px) {

    .sticker {
      max-width: 200px;
    }
    h1 {
      font-size: 4em;
    }

    .intro {
      font-size: 1.2em;
    }
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  @keyframes pulse-animation {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0; transform: scale(1.4); }
    100% { opacity: 0; transform: scale(1.4); }
  }

  @keyframes label-animation {
    0%  {margin-top: 0;}
    20% {margin-top: 0;}
    25% {margin-top: -46px;}
    50% {margin-top: -46px;}
    55% {margin-top: -100px;}
    80% {margin-top: -100px;}
    85% {margin-top: -46px;}
    95% {margin-top: -46px;}
    100% {margin-top: 0px;}
  }
</style>