---
import { projects } from "@/data/cv.json"
import Section from "@/templates/Section.astro"

---

<Section title="Projects">
  <div class="cards">
    {
      projects.map(({ name, summary, image, tools, urlCode, urlDemo}) => {

        return(
        <div class="card">
          <div>
            <h3 class="title">{name}</h3>
            <p class="summary">{summary}</p>
            <h4>Technologies</h4>
            <ul class="tools">
              {
                tools.map((tool) => (
                  <li class="tool">{tool}</li>
                ))
              }
            </ul>
          </div>
          <picture>
            <img src={image} alt={name} />
          </picture>
          <div class="buttons">
            <a class="button" href={urlCode} target="_blank">Code</a>
            <a class="button" href={urlDemo} target="_blank">Web site</a>
          </div>
        </div>
        )
      })
    }
    
  </div>
</Section>
<style>
  .cards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .card {
    cursor: pointer;
    max-width: 300px;
    border-radius: 5px;
    padding: 20px 20px 40px;
    transition: transform 300ms ease 0ms;
    box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.08) 1%,hsla(0,0%,100%,.04));
  }

  .card:hover {
    transform: scaleX(1.05) scaleY(1.05);    
  }

  .title {
    font-size: 1.4em;
    color: #DB0A5B;
    margin-bottom: 20px;
  }

  .summary {
    font-size: 0.9em;
    line-height: 1.4em;
  }

  .tools {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .tool {
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
    background-color: #DB0A5B;
  }

  img {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .button {
    display: block;
    padding: 6px 15px;
    border-radius: 20px;
    border: 2px solid #DB0A5B;
  }

  .button:hover {
    transition: all 300ms ease 0ms;
    background-color: #DB0A5B;
  }

  .button:first-child {
    margin-right: 10px;
  }

  @media (min-width: 576px) {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      justify-items: center;
    }
  }

  @media (min-width: 768px) {
    .cards {
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      justify-items: center;
    }
  }
</style>

